#main-footer {
  background: #343a40;
  color: #fff;
}

#page-header {
  height: 200px;
  background: url("../assets/img/Background2.png");
  background-position: 54% 95%;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px solid #eee;
  padding-top: 60px;
}
